body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
* {
  box-sizing: border-box;
}

.container {
  position: relative;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 10px 40px 10px;
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 300px;
}

.in-admin {
  width: 100%;
  color: white;
  background: #ec4646;
  text-align: center;
  padding: 30px;
  border: none;
  border-radius: 10px;
  margin: 60px 0;
  display: inline-block;
  font-size: 27px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}
.in-admin:hover{
  background: #b67171;
}

.in-employee {
  width: 100%;
  color: white;
  background: #1a75ff;
  padding: 30px;
  border: none;
  border-radius: 10px;
  margin: 60px 0;
  display: inline-block;
  font-size: 27px;
  line-height: 20px;
  text-align: center;
  text-decoration: none; /* remove underline from anchors */
}
.in-employee:hover{
  background: #027581;
}

.employee {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.admin{
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);


}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 1px solid black;
  border-radius: 100px;
  padding: 8px 10px;
  margin-top: 112px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}
.col {
  float: left;
  width: 100%;
  margin-top: 50px;
}
.btn{
width: 50%;
padding: 12px;
border: none;
border-radius: 4px;
margin: 0 0 0 0;
padding: 0 0 0 0;
opacity: 0.85;
display: inline-block;
font-size: 30px;
line-height: 20px;
text-decoration: none; /* remove underline from anchors */
}
/* bottom container */
.bottom-container {
  text-align: center;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .employee {
    width: 100%;
    margin-top: 0;
  }
  .admin{
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
