
    /***** Propiedades del body *****/
    body {
      margin: 0;
      padding: 0;
      font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
      display: grid;
    }

    /***** Propiedades del header *****/
    header {
      position: fixed;
      z-index: 1;
      background: #0F0F0F;
      padding: 20px;
      width: 100%;
      height: 105px;
    }

    /***** Propiedades del btn Logout *****/
    .logout {
      padding: 5px;
      text-decoration: none;
      float: right;
      margin: 30px 0;
      margin-right: 50px;
      border-radius: 2px;
      font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      transition: 0.25s;
      transition-property: background;
    }

    /***** Transición de Hover del btn Logout *****/
    .logout:hover {
      background: #1a75ff;
    }

    /***** Propiedades del btn My profile *****/
    .show_profile {
      padding: 5px;
      padding-right: -50px;
      text-decoration: none;
      float: right;
      margin: 30px 0;
      margin-right: 25px;
      border-radius: 2px;
      font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      transition: 0.25s;
      transition-property: background;
    }

    /***** Transición de Hover del btn Logout *****/
    .show_profile:hover {
      background: #1a75ff;
    }

    /***** Propiedades de la imagen de My profile *****/
    .profile_image {
      width: 70px;
      height: 70px;
      padding: 0;
      float: right;
      margin: 10px 0;
      margin-right: 22px;
      border-radius: 10px;
    }

    /***** Propiedades del logo de Supermercados Buena Vida *****/
    .negocio {
      width: 120px;
      height: 120px;
      float: left;
      margin-left: 40px;
      margin-top: 0;
      border-radius: 8px;
    }

    /***** Propiedades del h1 que está en el header *****/
    h1 {
      padding: 10px;
      display: inline-flex;
      margin-left: 200px;
      font-family: "Times New Roman";
      color: #707070;
      background-color: #181818;
    }

    /***** Propiedades del h4 llamado Administrator que esta al lado de la foto de Dilligent App en el menu *****/
    h4 {
      color: #fff;
      margin-top: -50px;
      margin-left: 100px;
      margin-bottom: 50px;
      font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    }

    /***** Propiedades del footer que está en el menú *****/
    h6 {
      color: #fff;
      padding-left: 40px;
      font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    }

    /***** Propiedades del menú *****/
    .menu-slide {
      z-index: 1;
      background: #222831;
      margin-top: 145px;
      padding-top: 30px;
      position: fixed;
      left: 0;
      width: 280px;
      height: 100%;
      transition: 0.25s;
      transition-property: left;
      overflow: auto;
    }

    /***** Propiedades de la foto del menú *****/
    .menu-slide .Logo-DiligentApp {
      width: 80px;
      height: 80px;
      border-radius: 100px;
      margin-left: 10px;
      margin-top: -10px;
      margin-bottom: 0;
    }

    /***** Propiedades de los simbolos y nombres de herramientas del menu *****/
    .menu-slide a {
      color: #f8f7de;
      display: block;
      width: 100%;
      line-height: 70px;
      text-decoration: none;
      padding-left: 20px;
      box-sizing: border-box;
      transition: 0.25s;
      transition-property: background;
    }

    /***** Transición de Hover de los elementos del menú *****/
    .menu-slide a:hover {
      background: #1a75ff;
    }

    /***** Padding de los elementos del menu *****/
    .menu-slide i {
      padding-right: 10px;
    }

    /***** Propiedades del btn de menu *****/
    label #menu_btn {
      z-index: 1;
      color: #f8f7de;
      position: fixed;
      cursor: pointer;
      left: 0;
      margin: 30px 0;
      font-size: 25px;
      padding: 6px 12px;
      transition: 0.25s;
      transition-property: color;
    }

    /***** Transición de Hover del btn de menu *****/
    label #menu_btn:hover {
      color: #1a75ff;
    }

    /***** Si el btn se toca, se esconderá *****/
    #check:checked~.menu-slide {
      left: -220px;
    }

    /***** Cuando el btn del menu se toque, se esconderán los elementos del menú menos los simbolos *****/
    #check:checked~.menu-slide a span {
      display: none;
    }

    /***** Propiedades de los simbolos cuando el menú está escondido *****/
    #check:checked~.menu-slide a {
      font-size: 20px;
      margin-left: 210px;
      width: 1px;
    }

    /***** Para que el margen del background del contenido esté a la par con el menu escondido*****/
    #check:checked~.contenido {
      margin-left: 50px;
    }

    /***** Para que el boton de checkbox no se vea *****/
    #check {
      display: none;
    }
    /***** Propiedades del contenido que mostraran las herramientas *****/
    .contenido {
      margin-left: 270px;
      background: #fff;
      background-position: center;
      background-size: cover;
      transition: 0.25s;
    }

    /***** Para que el margen del background del contenido esté a la par con el menu escondido*****/
    #check:checked~.contenido {
      margin-left: 50px;
    }

    /***** Para que el boton de checkbox no se vea *****/
    #check {
      display: none;
    }
    main {
      margin-top: 145px;
      margin-bottom: 0;
      min-height: 90vh;
      background: #f1f5f9;
      padding: 1rem 4rem;
      padding-right: 70px;
    }
  .List {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .empleados-grid {
    display: grid;
    grid-column-gap: 1.5rem;
  }
  .empleados-card{
    background: #fff;

  }
  .empleados-card h3 {
    color: #777;
    margin-top: 0;
    font-size: 1.4rem;
    padding-left: 0;
  }
  .empleados-card table{
    width: 100%;
    height: 100px;
    border-collapse: collapse;
}
  .empleados-card thead{
    background: #efefef;
    text-align: left;
  }
  .empleados-card i{
    font-size: 2rem;
    color: #1a75ff;;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 0.8rem;
  }
  th, td {
    font-size: 0.9rem;
    padding: 1rem 4rem;
    text-align: center;
    border: 1px solid #dddddd;
    color: black;
  }
  td {
    font-size: 1rem;
  }
  tbody tr:nth-child(even) {
    background: #f9fafc;
  }
.top-user{
  float: none;
  display: block;
  text-align: left;
  margin: 0;
}
.selectors-p{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
}
.submit-btn{
  color: black;
  background: #ddd;
  text-align: center;
  padding: 7.4px 9px;
  margin-left: -2px;
  text-decoration: none;
  font-size: 14px;
  border:none;
  cursor: pointer;
}
.submit-btn:hover{
  background-color: #ccc;
}
.search-container{
  width: 10rem;
  padding: 8px;
  border: 1px solid #ccc;
  margin-left: 10px;
}
.search-btn{
 color: black;
 background: #ddd;
 text-align: center;
 padding: 6.2px 9px;
 margin-left: -2px;
 text-decoration: none;
 font-size: 17px;
 border:none;
 cursor: pointer;
}
.search-btn:hover{
  background-color: #ccc;
}
.print-btn{
  color: white;
  background: green;
  text-align: center;
  padding: 7.4px 9px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 20px;
  border:none;
  cursor: pointer;
}
.print-btn:hover{
  background-color: #4CAF50;
}
.selectors{
  padding: 6.9px 9px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;

}
.payroll-btn{
  color: white;
  background: #23689b;
  text-align: center;
  padding: 7.4px 9px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 15px;
  border:none;
  cursor: pointer;
}
