/***** Propiedades del body *****/
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  display: grid;
}

/***** Propiedades del header *****/
header {
  position: fixed;
  background: #0F0F0F;
  padding: 20px;
  width: 100%;
  height: 105px;
}

/***** Propiedades del btn Logout *****/
.logout {
  padding: 5px;
  text-decoration: none;
  float: right;
  margin: 30px 0;
  margin-right: 50px;
  border-radius: 2px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: 0.25s;
  transition-property: background;
}

/***** Transición de Hover del btn Logout *****/
.logout:hover {
  background: #f05454;
}

/***** Propiedades del btn My profile *****/
.show_profile {
  padding: 5px;
  padding-right: -50px;
  text-decoration: none;
  float: right;
  margin: 30px 0;
  margin-right: 25px;
  border-radius: 2px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: 0.25s;
  transition-property: background;
}

/***** Transición de Hover del btn Logout *****/
.show_profile:hover {
  background: #f05454;
}

/***** Propiedades de la imagen de My profile *****/
.profile_image {
  width: 70px;
  height: 70px;
  padding: 0;
  float: right;
  margin: 10px 0;
  margin-right: 22px;
  border-radius: 10px;
}

/***** Propiedades del logo de Supermercados Buena Vida *****/
.negocio {
  width: 120px;
  height: 120px;
  float: left;
  margin-left: 40px;
  margin-top: 0;
  border-radius: 8px;
}

/***** Propiedades del h1 que está en el header *****/
h1 {
  padding: 10px;
  display: inline-flex;
  margin-left: 200px;
  font-family: "Times New Roman";
  color: #707070;
  background-color: #181818;
}

/***** Propiedades del h4 llamado Administrator que esta al lado de la foto de Dilligent App en el menu *****/
h4 {
  color: #fff;
  margin-top: -50px;
  margin-left: 100px;
  margin-bottom: 50px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

/***** Propiedades del footer que está en el menú *****/
h6 {
  color: #fff;
  padding-left: 40px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

/***** Propiedades del menú *****/
.menu-slide {
  background: #222831;
  margin-top: 145px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 280px;
  height: 100%;
  transition: 0.25s;
  transition-property: left;
  overflow: auto;
}

/***** Propiedades de la foto del menú *****/
.menu-slide .Logo-DiligentApp {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 0;
}

/***** Propiedades de los simbolos y nombres de herramientas del menu *****/
.menu-slide a {
  color: #f8f7de;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 20px;
  box-sizing: border-box;
  transition: 0.25s;
  transition-property: background;
}

/***** Transición de Hover de los elementos del menú *****/
.menu-slide a:hover {
  background: #f05454;
}

/***** Padding de los elementos del menu *****/
.menu-slide i {
  padding-right: 10px;
}

/***** Tipo id para que el btn de menu no se altere por otro bloque de codigo  *****/
/***** Propiedades del btn de menu *****/
label #menu_btn {
  z-index: 1;
  color: #f8f7de;
  position: fixed;
  cursor: pointer;
  left: 0;
  margin: 30px 0;
  font-size: 25px;
  padding: 6px 12px;
  transition: 0.25s;
  transition-property: color;
}

/***** Transición de Hover del btn de menu *****/
label #menu_btn:hover {
  color: #f05454;
}

/***** Si el btn se toca, se esconderá *****/
#check:checked~.menu-slide {
  left: -220px;
}

/***** Cuando el btn del menu se toque, se esconderán los elementos del menú menos los simbolos *****/
#check:checked~.menu-slide a span {
  display: none;
}

/***** Propiedades de los simbolos cuando el menú está escondido *****/
#check:checked~.menu-slide a {
  font-size: 20px;
  margin-left: 210px;
  width: 1px;
}

/***** Propiedades del contenido que mostraran las herramientas *****/
.contenido {
  margin-left: 270px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.25s;

}

/***** Para que el margen del background del contenido esté a la par con el menu escondido*****/
#check:checked~.contenido {
  margin-left: 50px;
}

/***** Para que el boton de checkbox no se vea *****/
#check {
  display: none;
}
.profile_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  height: 200px;
  width: 200px;
}
.admin_name {
  display: block;
  text-align: center;
  position: center;
}
.user_profile{
  display: grid;
  grid-gap: 1em;
}
main {
  margin-top: 145px;
  margin-bottom: 0;
  min-height: 90vh;
  background: #f1f5f9;
  padding: 1rem 4rem;
  padding-right: 70px;
}
.edit-btn{
  color: white;
  background: green;
  width: 110px;
  padding: 7.4px 9px;
  text-decoration: none;
  margin-top: 0;
  font-size: 15px;
  float: left;
  border:none;
  cursor: pointer;
}
.edit-btn:hover {
  background: #4CAF50;
}
.tablas {
margin-top: 2rem;
margin-bottom: 3rem;
}
.tabla-grid {
display: grid;
}
.contenido-card{
background: #fff;
}
.contenido-card h3 {
color: #777;
margin-top: 0;
font-size: 1.4rem;
padding-left: 0;
}
.contenido-card table{
width: 100%;
height: 100px;
border-collapse: collapse;

}

.contenido-card i{
font-size: 2rem;
color: #f05454;
margin-top: 20px;
margin-right: 20px;
padding-left: 0.8rem;
}

td {
font-size: 0.9rem;
padding: 1rem;
color: black;
font-weight: 700;
border: 1px solid #dddddd;
width: 100px;
}

tbody tr:nth-child(even) {
background: #f9fafc;
}
