/***** Propiedades del body *****/
body {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;

}
/***** Background del Login Box *****/
.Fondo {
 background-size: cover;
 background-position: center;
 width: 100%;
 height: 100%;
 filter: blur(4px);
}


/***** Posición y otras propiedades del Login Box *****/
.login-box {
  width: 680px;
  height: 200px;
  background: rgba(0, 0, 0, 1);
  /* color de fondo del login box */
  color: #fff3e6;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 10px 30px;
  /*Mueve el contenido del login-box */

}

/***** Propiedades del h1 *****/
h1 {
  margin: 0;
  padding: 0 0 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 105px;
}

/***** Propiedades de los nombres de los inputs *****/
.login-box p {
  margin: 0;
  padding: 50px 0 0;
  /* Mueve los espacios de <p> del loginbox */
  text-align: left;
  font-size: 24px;
  margin-top: -20px;
  margin-bottom: 5px;

}

/***** Lenght de los input boxes y margenes *****/
.login-box input {
  width: 100%;
  margin-bottom: 0;
}

.login-box input[type="text"]{
  /***** Propiedades del input del usuario y de las cajas de input *****/
  border: none;
  border-bottom: 1px solid #fff3e6;
  /* linea blanca debajo del texto */
  background: rgba(0, 0, 0, 0.5);
  /* Color de fondo de caja de texto */
  color: #fff3e6;
  /* Color del texto de la caja de input */
  font-size: 20px;

}

/***** Propiedades del botón de submit *****/
.login-box input[type="button"] {
  border: none;
  outline: none;
  height: 50px;
  margin-top: 40px;
  background: #ec4646;
  /*Color del boton de Login */
  color: #fff3e6;
  font-size: 24px;
  border-radius: 0;
  width: 200px;
  margin-left: 10px;
  border-radius: 15px;
  /*Le da curva al boton de login */
}

/***** hover del botón de Login *****/
.login-box input[type="button"]:hover {
  cursor: pointer;
  background: #b67171;
  /* color cuando se pone el cursor encima del boton de login */
  color: #fff3e6;
}
