/***** Propiedades del body *****/
body {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  zoom: 80%;

}
/***** Background del Login Box *****/
.Fondo {
 background-size: cover;
 background-position: center;
 width: 100%;
 height: 100%;
 filter: blur(4px);
}


/***** Posición y otras propiedades del Login Box *****/
.login-box {
  width: 740px;
  height: 50rem;
  background: rgba(0, 0, 0, 0.9);
  /* color de fondo del login box */
  color: #fff3e6;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 10px 30px;
  overflow: auto;
  /*Mueve el contenido del login-box */

}

/***** Propiedades del h1 *****/
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;

}

.login-box label {
  margin: 0;
  padding: 50px 0 0;
  /* Mueve los espacios de <p> del loginbox */
  text-align: left;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 5px;
  line-height: 55px;

}

.login-box input {
  width: 100%;
  margin-bottom: 0;
}

.login-box input[type="text"]{
  border: none;
  border-bottom: 1px solid #fff3e6;
  background: rgba(0, 0, 0, 0.5);
  color: #fff3e6;
  font-size: 20px;
  line-height: 30px;
}

.login-box input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff3e6;
  background: rgba(0, 0, 0, 0.5);
  color: #fff3e6;
  font-size: 20px;
  line-height: 30px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 50px;
  margin-top: 20px;
  background: #00917c;
  float: center;
  justify-content: center;
  display: inline-block;
  color: #fff3e6;
  font-size: 24px;
  width: 200px;
  position: relative;
  margin-left: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.9;
  color: #fff3e6;
}

.login-box input[type="button"] {
  border: none;
  outline: none;
  height: 50px;
  margin-top: 20px;
  background: #00917c;
  float: center;
  justify-content: center;
  display: inline-block;
  color: #fff3e6;
  font-size: 24px;
  width: 200px;
  position: relative;
  margin-left: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.login-box input[type="button"]:hover {
  cursor: pointer;
  opacity: 0.9;
  color: #fff3e6;
}

.selectors-p{
    font-size: 24px;
    margin-left: 10px;
}
.selectors{
  padding: 7px 10px;
  position: relative;
  cursor: pointer;
}

.error{
  color:#A94442;
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; height: auto; }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }
